{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
  <title>HBD</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- build:template
  <link rel="icon" type="image/ico" <%= favicon_src %>>
  /build -->

  <!-- build:template
  <link rel="stylesheet" <%= loading_src %>>
  /build -->

  <!-- build:template
  <link rel="stylesheet" <%= css_src %>>
  /build -->
</head>

<body style="background-color:#fff">
  <div id="initial_load_container">
    <div id="initial_load">
      +
    </div>
  </div>
  <div id="app">
    <div id="content">
    </div>
  </div>

  <!-- build:template
  <script <%= main_src %> <%= require_src %>>
  </script>
  /build -->

</body
</html>